<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Quest Store</title>
		<link rel="stylesheet" href="/static/css/main.css">
		<link href="https://fonts.googleapis.com/css?family=Jim+Nightshade" rel="stylesheet">
	</head>
    <body class="bg">
		<div>
			<header class="primary-header">
				<a href="html/index.html" type="text/css" class="btn button-logout">Logout</a>
			</header>

			<section class="hero row">
				<div class="navbar" id="myNavbar">
					<div class="primary-nav-left">
						<a href="/mentor" class="btn active">main</a>
						<a href="/mentr/profile" class="btn">profile</a>
						<a href="/mentor/contact" class="btn">contact</a>
					</div>
					<div class="primary-nav-right">
						<a href="/mentor/store" class="btn">store</a>
						<a href="/mentor/quest" class="btn">quests</a>
						<a href="/mentor/codecooler" class="btn">codecoolers</a>
						<a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
					</div>
				</div>
				<div>
					<h2><br><br><br>Welcome traveler...</h2><br>
				</div>

			</section>

			<div><h1 class="title">Cos tu bedzie!!!!!!!!</h1></div>

			<!-- <section class="grid">
				<div class="container"><img src="assets/stylesheets/placeHolder.png" alt="przejebany dps"></div>
				<div class="container"><img src="assets/stylesheets/placeHolder.png" alt="przejebany dps"></div>
				<div class="container"><img src="assets/stylesheets/placeHolder.png" alt="przejebany dps"></div>
			</section> -->

			<footer class="primary-footer">
					<small>&copy; Ekipa mocna</small>
				<nav>
					<a href="/mentor">main</a>
					<a href="/mentor/profile">profile</a>
					<a href="/mentor/contact">contact</a>
                </nav>
			</footer>
		</div>
		<script>
			/* Toggle between adding and removing the "responsive" class to the navbar when the user clicks on the icon */
			function myFunction() {
				var x = document.getElementById("myNavbar");
				if (x.className === "navbar") {
					x.className += " responsive";
				} else {
					x.className = "navbar";
				}
			}

			// var header = document.getElementById("myDIV");
			// var btns = header.getElementsByClassName("btn");
			// for (var i = 0; i < btns.length; i++) {
			// 	btns[i].addEventListener("click", function() {
			// 		var current = document.getElementsByClassName("active");
			// 		current[0].className = current[0].className.replace(" active", "");
			// 		this.className += " active";
			// 	});
			// }
		</script>
 	</body>
</html>
